<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>Rapenburg 35B, 1011 TV Amsterdam</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "6131433822" %></p>

    <h3>Email</h3>

    <p><a href="mailto:me@example.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1217.9710020168022!2d4.908262337476907!3d52.37147161057786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c609bb55f24ded%3A0x9bb466c5a5f698eb!2sRapenburg%2035B%2C%201011%20TV%20Amsterdam!5e0!3m2!1snl!2snl!4v1636880410119!5m2!1snl!2snl" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
 
</div>